.home {
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
  min-height: calc(100vh - 82px);
}

.home__info {
  padding: 25px;
  color: white;
}

.home__img {
  padding: 25px;
  width: 100%;
  max-width: 700px;
}